{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>keturunan budi</title>

  <style>
    body {
      font-family: sans-serif;
      margin-bottom: 100px
    }
    .content_container {
      display: flex;
      align-items: center;
      gap: 5px;
      height: 30px;
    }
    button {
      font-size: .6rem
    }
    input {
      width: 150px;
      height: 30px
    }
    .add_form {
      display: none;
      margin-left: 10px;
      align-items: center;
    }
    .add_form button {
      height: 20px;
    }
    #edit_form {
      display: flex;
      flex-direction: column;
    }
    .button_text {
      font-size: 1rem;
      border: none;
      background: none;
      text-decoration-line: underline;
      text-decoration-color: blue;
    }
    .button_text:hover {
      cursor: pointer
    }
    .person_info {
      border: 1px solid black;
      max-width: 500px;
      padding: 10px;
      box-sizing: border-box
    }
    .submit_edit_btn {
      font-size: 1rem;
      margin-top: 10px
    }
    </style>

  <script>
    let allow_hide_add_form = false;
    function showAddForm(element) {
      element.style.display = 'flex'
    }
    function hideAddForm(element) {
      element.style.display = 'none'
    }
    function buatKeturunan(dari=0, data=None) {
      // karena butuh neested list jadi tidak usah menggunakan li
      const parent = document.querySelector(`.keturunan_dari_id${dari}`)

      data.forEach(item => {
        if (item.keturunan_dari_id == dari) {
          // buat child
          const child = document.createElement('li');
          child.setAttribute('class', `keturunan_dari_id${dari}`);

          // buat content untuk child
          const content_container = document.createElement('div');
          content_container.setAttribute('class', 'content_container');
          
          const text = document.createElement('button');
          text.setAttribute('class', "button_text")
          text.addEventListener("click", () => {
            infoOrang(item.id)
          })

          text.innerHTML = item.nama;
          
          const add_form = document.createElement('div')
          add_form.setAttribute('class', 'add_form')
          
          const field1 = document.createElement('input');
          field1.setAttribute('name', 'nama')
          field1.setAttribute('placeholder', 'nama')
          field1.setAttribute('class', 'form_element')

          const field2 = document.createElement('input');
          field2.setAttribute('name', 'jenis_kelamin')
          field2.setAttribute('placeholder', 'pria/wanita')
          field2.setAttribute('class', 'form_element')
          
          const field3 = document.createElement('input');
          field3.setAttribute('type', 'hidden')
          field3.setAttribute('name', 'keturunan_dari_id')
          field3.setAttribute('value', item.id)

          const submit_btn = document.createElement('button');
          submit_btn.setAttribute('class', 'form_element')
          submit_btn.addEventListener('click', () => {
            tambahOrang(field1.value, field2.value, field3.value);
          })
          submit_btn.innerHTML = 'tambah'
          
          const add_btn = document.createElement('button');
          add_btn.addEventListener('click', () => {
            const all_add_form = document.querySelectorAll('.add_form')
            all_add_form.forEach(item => {hideAddForm(item)})
            showAddForm(add_form)
          })
          add_btn.innerHTML = '+';
          
          const remove_btn = document.createElement('button');
          remove_btn.addEventListener('click', () => {
            const all_add_form = document.querySelectorAll('.add_form')
            all_add_form.forEach(item => {hideAddForm(item)})
            hapusOrang(item.id)
          })
          remove_btn.innerHTML = '-';
          
          add_form.append(field1);
          add_form.append(field2);
          add_form.append(field3);
          add_form.append(submit_btn)
          content_container.append(text);
          content_container.append(add_btn);
          content_container.append(remove_btn);
          content_container.append(add_form);

          // buat container didalam child untuk child selanjutnya
          const child_container = document.createElement('ul');
          child_container.setAttribute('class', `keturunan_dari_id${item.id}`);
          
          child.append(content_container);
          child.append(child_container);
          parent.append(child);
        }
      })
    }

    function getMaxChild(data) {
      max = 0
      for (item of data) {
        if (item.keturunan_dari_id > max) {
          max += item.keturunan_dari_id
        }
      }

      return max
    }

    function konstruksiKeturunan(data) {
      const max_child = getMaxChild(data);
      
      for (var i=0; i <= max_child;  i++) {
        buatKeturunan(ke=i, data=data)
      }
    }

    function tambahOrang(nama="", jenis_kelamin="", keturunan_dari_id=0) {
      data = {
        "nama": nama,
        "jenis_kelamin": jenis_kelamin,
        "keturunan_dari_id": keturunan_dari_id
      }
      fetch('api/orang/', {
        method: 'POST',
        body: JSON.stringify(data)})
        .then(response => response.json())
        .then(data => {
          loadOrang()
        })
        .catch(error => {
          console.log(error)
        })
    }

    function hapusOrang(id=0) {
      data = {
        "id": id
      }
      fetch('api/orang/', {
        method: 'DELETE',
        body: JSON.stringify(data)})
        .then(response => response.json())
        .then(data => {
          loadOrang()
          if (data.message != 'success' && data.message != 'failed') {
            document.querySelector("#error_output").innerHTML = data.message
          } else {
            document.querySelector("#error_output").innerHTML = ""
          }
        })
        .catch(error => {
          console.log(error)
        })
    }

    function loadOrang() {
      fetch('/api/orang/', {
      method: 'GET',
      headers: { 'content-type': 'application/json' }})
        .then(response => response.json())
        .then(data => {
          const result = data.result;
          // refresh before loading
          resetPersonInfo()
          const first = document.querySelector('.keturunan_dari_id0')
          while (first.firstChild) {
            first.removeChild(first.lastChild);
          }
          konstruksiKeturunan(result)
        })
        .catch(error => {
          console.log(error)
        })
    }

    function submitEdit() {
      data = {
        "id": document.querySelector('.id_field').value,
        "nama": document.querySelector('.name_field').value,
        "jenis_kelamin": document.querySelector('.gender_field').value
      }
      console.log(data)
      fetch('api/orang/', {
        method: 'PUT',
        body: JSON.stringify(data)})
        .then(response => response.json())
        .then(data => {
          loadOrang()
        })
        .catch(error => {
          console.log(error)
        })
    }

    function infoOrang(id) {
      fetch(`/api/orang/${id}`, {
      method: 'GET',
      headers: { 'content-type': 'application/json' }})
        .then(response => response.json())
        .then(data => {
          const result = data.result[0];
          document.querySelector('.id_field').value = result.id
          document.querySelector('.name_field').value = result.nama
          document.querySelector('.gender_field').value = result.jenis_kelamin
          const submit_button = document.querySelector('.submit_edit_btn').disabled = false

        })
        .catch(error => {
          console.log(error)
        })
    }

    function resetPersonInfo() {
      const id_field = document.querySelector('.id_field')
      const name_field = document.querySelector('.name_field')
      const gender_field = document.querySelector('.gender_field')
      const submit_button = document.querySelector('.submit_edit_btn')
      id_field.value = ""
      name_field.value = ""
      gender_field.value = ""
      submit_button.disabled = true
    }

    document.addEventListener("DOMContentLoaded", () => {
      const main = document.querySelector('main')
      const error_output = document.querySelector('#error_output')

      // load data
      loadOrang()
    });
  </script>
</head>
<body>
  <h1>Keturunan Budi</h1>
  <hr>
  <main>
    <div class="person_info">
      <h3>Detail Orang</h3>
      <form id="edit_form">
        <input type="hidden" class="id_field" name="id">
        <p>Nama</p>
        <input type="text" class="name_field" name="nama" placeholder="nama" value="">
        <p>Jenis Kelamin</p>
        <input type="text" class="gender_field" name="jenis_kelamin" placeholder="jenis_kelamin" value="">
      </form>
      <button class="submit_edit_btn" onclick="submitEdit()">Edit</button> <span><em>*klik pada nama dibawah untuk mengedit</em></span>
    </div>
    <p>message:</p>
    <div id="error_output" style="margin-top: 20px"></div>
    <li>Budi</li>
    <ul class="keturunan_dari_id0">

    </ul>
  </main>


</body>
</html>